<form class="row">
    <div class="col-sm-12 col">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="InputProjectName" placeholder="Project name">
            <label for="InputProjectName">Project Name</label>
        </div>
    </div>
    <div class="col-sm-12 col">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="InputProjectDescription" placeholder="Project Description">
            <label for="InputProjectDescription">Project Description</label>
        </div>
    </div>
</form>

@code{
    
}