<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kmila</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/text-views">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> TextFields
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/buttons-view">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Buttons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/select-view">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Selection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/lists-view">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Lists
            </NavLink>
        </div>
    </nav>
</div>

