@page "/projects"
<div class="d-grid gap-2">
    <Button
        TooltipTitle="Create new project"
        Color="ButtonColor.Success"
        Outline=true

    >
        Create new project 
        <Icon Name="IconName.FolderPlus"/>
    </Button>
</div>
@code{
    
}